extends layout

block content
  body
    div
      .jumbotron(style='padding:40px;')
        h1 MOB Code Analyser
        p Currently uses gitinspector then runs git-of-theseus
        p
          a.btn.btn-primary.btn-sm(href='/', role='button', style={color: 'white', background: 'green'}) Refresh
          ||
          a.btn.btn-primary.btn-sm(href='/exit', role='button', style={color: 'white', background: 'red'}) Shutdown MCA
          ||
          a.btn.btn-primary.btn-sm(href='/rmjson', role='button', style={color: 'white', background: 'red'}) Delete JSON Data
          ||
          a.btn.btn-primary.btn-sm(href='/rmpic', role='button', style={color: 'white', background: 'red'}) Delete Chart Images
          ||
        p
          a.btn.btn-primary.btn-sm(href='/ins', role='button') Run Gitinspector
          ||
          a.btn.btn-primary.btn-sm(href='/jsongen', role='button') Generate JSON files
          ||
          a.btn.btn-primary.btn-sm(href='/plotgen', role='button') Generate Stack Plot Chart
          ||
          a.btn.btn-primary.btn-sm(href='/survgen', role='button') Generate Survival Plot Chart
          ||
          a.btn.btn-primary.btn-sm(href='/authgen', role='button') Generate Author Statistics
          ||
          a.btn.btn-primary.btn-sm(href='/extgen', role='button') Generate Extension Statistics
        p Stack Plot Chart
        img(src='/images/stack.png', alt='#', width=800)
        p Survival Plot Chart
        img(src='/images/survival.png', alt='#', width=800)
        p Author Statistics
        img(src='/images/authors.png', alt='#', width=800)
        p Extension Statistics
        img(src='/images/exts.png', alt='#', width=800)
  footer
    div
      nav.navbar-inverse.navbar-static-bottom
        a.navbar-brand(href='/') Made by Leon